[submodule "deps/catch2"]
	path = deps/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "deps/popl"]
	path = deps/popl
	url = https://github.com/badaix/popl
[submodule "deps/chaiscript"]
	path = deps/chaiscript
	url = https://github.com/ChaiScript/ChaiScript
