[submodule "deps/catch2"]
	path = deps/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "deps/popl"]
	path = deps/popl
	url = https://github.com/badaix/popl
[submodule "deps/chaiscript"]
	path = deps/chaiscript
	url = https://github.com/ChaiScript/ChaiScript
[submodule "deps/magic_enum"]
	path = deps/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "deps/chaiscript_extras"]
	path = deps/chaiscript_extras
	url = https://github.com/ChaiScript/ChaiScript_Extras.git
[submodule "deps/rapidcsv"]
	path = deps/rapidcsv
	url = https://github.com/d99kris/rapidcsv.git
[submodule "deps/--force"]
	path = deps/--force
	url = https://github.com/google/or-tools.git
[submodule "deps/or-tools"]
	path = deps/or-tools
	url = https://github.com/google/or-tools.git
